<h1>Posts</h1>
<div id="posts-list"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function fetchPosts() {
        $.ajax({
            type: 'GET',
            url: '/posts',
            dataType: 'json',
            success: function (data) {
                var postsList = $('#posts-list');
                postsList.empty(); // Clear previous posts
                $.each(data.posts, function (index, post) {
                    postsList.append('<p>' + post.title + '</p>');
                });
            },
            error: function (xhr, status, error) {
                if (xhr.status === 401 || xhr.status === 403) {
                    $('#posts-list').html('<p>Authentication required.</p>');
                } else if (xhr.status === 404) {
                    $('#posts-list').html('<p>Not found.</p>');
                } else {
                    console.error(xhr.responseText);
                }
            }
        });
    }

    $(document).ready(function () {
        fetchPosts();
        setInterval(fetchPosts, 1000);
    });
</script>
